@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 23, ../_scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../_scss/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 49, ../_scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 69, ../_scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 86, ../_scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 96, ../_scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 108, ../_scss/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 117, ../_scss/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 129, ../_scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 137, ../_scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 152, ../_scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 161, ../_scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 197, ../_scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 236, ../_scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 244, ../_scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 252, ../_scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 256, ../_scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 311, ../_scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 322, ../_scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 333, ../_scss/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 341, ../_scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 351, ../_scss/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 360, ../_scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 387, ../_scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 405, ../_scss/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 416, ../_scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 431, ../_scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 446, ../_scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 455, ../_scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 466, ../_scss/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 476, ../_scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 492, ../_scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 503, ../_scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 516, ../_scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 525, ../_scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 538, ../_scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 551, ../_scss/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 560, ../_scss/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 571, ../_scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 576, ../_scss/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 2, ../_scss/_syntax.scss */
.highlight {
  background: #ffffff;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 4, ../_scss/_syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 5, ../_scss/_syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 6, ../_scss/_syntax.scss */
.highlight .k {
  font-weight: bold;
}
/* line 7, ../_scss/_syntax.scss */
.highlight .o {
  font-weight: bold;
}
/* line 8, ../_scss/_syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 9, ../_scss/_syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* line 10, ../_scss/_syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 11, ../_scss/_syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 12, ../_scss/_syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 13, ../_scss/_syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* line 14, ../_scss/_syntax.scss */
.highlight .ge {
  font-style: italic;
}
/* line 15, ../_scss/_syntax.scss */
.highlight .gr {
  color: #aa0000;
}
/* line 16, ../_scss/_syntax.scss */
.highlight .gh {
  color: #999999;
}
/* line 17, ../_scss/_syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 18, ../_scss/_syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* line 19, ../_scss/_syntax.scss */
.highlight .go {
  color: #888888;
}
/* line 20, ../_scss/_syntax.scss */
.highlight .gp {
  color: #555555;
}
/* line 21, ../_scss/_syntax.scss */
.highlight .gs {
  font-weight: bold;
}
/* line 22, ../_scss/_syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}
/* line 23, ../_scss/_syntax.scss */
.highlight .gt {
  color: #aa0000;
}
/* line 24, ../_scss/_syntax.scss */
.highlight .kc {
  font-weight: bold;
}
/* line 25, ../_scss/_syntax.scss */
.highlight .kd {
  font-weight: bold;
}
/* line 26, ../_scss/_syntax.scss */
.highlight .kp {
  font-weight: bold;
}
/* line 27, ../_scss/_syntax.scss */
.highlight .kr {
  font-weight: bold;
}
/* line 28, ../_scss/_syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 29, ../_scss/_syntax.scss */
.highlight .m {
  color: #009999;
}
/* line 30, ../_scss/_syntax.scss */
.highlight .s {
  color: #d14;
}
/* line 31, ../_scss/_syntax.scss */
.highlight .na {
  color: #008080;
}
/* line 32, ../_scss/_syntax.scss */
.highlight .nb {
  color: #0086B3;
}
/* line 33, ../_scss/_syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 34, ../_scss/_syntax.scss */
.highlight .no {
  color: #008080;
}
/* line 35, ../_scss/_syntax.scss */
.highlight .ni {
  color: #800080;
}
/* line 36, ../_scss/_syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* line 37, ../_scss/_syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 38, ../_scss/_syntax.scss */
.highlight .nn {
  color: #555555;
}
/* line 39, ../_scss/_syntax.scss */
.highlight .nt {
  color: #000080;
}
/* line 40, ../_scss/_syntax.scss */
.highlight .nv {
  color: #008080;
}
/* line 41, ../_scss/_syntax.scss */
.highlight .ow {
  font-weight: bold;
}
/* line 42, ../_scss/_syntax.scss */
.highlight .w {
  color: #bbbbbb;
}
/* line 43, ../_scss/_syntax.scss */
.highlight .mf {
  color: #009999;
}
/* line 44, ../_scss/_syntax.scss */
.highlight .mh {
  color: #009999;
}
/* line 45, ../_scss/_syntax.scss */
.highlight .mi {
  color: #009999;
}
/* line 46, ../_scss/_syntax.scss */
.highlight .mo {
  color: #009999;
}
/* line 47, ../_scss/_syntax.scss */
.highlight .sb {
  color: #d14;
}
/* line 48, ../_scss/_syntax.scss */
.highlight .sc {
  color: #d14;
}
/* line 49, ../_scss/_syntax.scss */
.highlight .sd {
  color: #d14;
}
/* line 50, ../_scss/_syntax.scss */
.highlight .s2 {
  color: #d14;
}
/* line 51, ../_scss/_syntax.scss */
.highlight .se {
  color: #d14;
}
/* line 52, ../_scss/_syntax.scss */
.highlight .sh {
  color: #d14;
}
/* line 53, ../_scss/_syntax.scss */
.highlight .si {
  color: #d14;
}
/* line 54, ../_scss/_syntax.scss */
.highlight .sx {
  color: #d14;
}
/* line 55, ../_scss/_syntax.scss */
.highlight .sr {
  color: #009926;
}
/* line 56, ../_scss/_syntax.scss */
.highlight .s1 {
  color: #d14;
}
/* line 57, ../_scss/_syntax.scss */
.highlight .ss {
  color: #990073;
}
/* line 58, ../_scss/_syntax.scss */
.highlight .bp {
  color: #999999;
}
/* line 59, ../_scss/_syntax.scss */
.highlight .vc {
  color: #008080;
}
/* line 60, ../_scss/_syntax.scss */
.highlight .vg {
  color: #008080;
}
/* line 61, ../_scss/_syntax.scss */
.highlight .vi {
  color: #008080;
}
/* line 62, ../_scss/_syntax.scss */
.highlight .il {
  color: #009999;
}

/* line 4, ../_scss/_code.scss */
pre, code {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #FFFBE5;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 16, ../_scss/_code.scss */
pre {
  padding: 3px 8px;
  margin: 0 0 5px;
  max-width: 90%;
  line-height: 18px;
}
/* line 22, ../_scss/_code.scss */
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* line 29, ../_scss/_code.scss */
code {
  padding-left: 5px;
  padding-right: 5px;
  color: #D14;
  font-size: small;
}

/* line 54, ../_scss/_mixin.scss */
.p-tag .anchor,
.p-category .anchor, .p-archive-year a, .p-archive-month a {
  color: #900;
}

/* line 59, ../_scss/_mixin.scss */
.container:after, .paginator:after {
  clear: both;
  display: table;
  content: '';
}

/*
########  ########  ######  ######## ########
##     ## ##       ##    ## ##          ##
##     ## ##       ##       ##          ##
########  ######    ######  ######      ##
##   ##   ##             ## ##          ##
##    ##  ##       ##    ## ##          ##
##     ## ########  ######  ########    ##
*/
/* line 77, ../_scss/_mixin.scss */
body {
  color: #333;
  line-height: 1.5;
  background-color: #EEE;
}

/* line 82, ../_scss/_mixin.scss */
blockquote {
  margin: 1em 1.6em 1em .6em;
  padding: .7em 10px .7em 40px;
  border-left: 10px solid #DDF;
  background: #EEF;
  position: relative;
  quotes: "“" "”" "‘" "’";
}
/* line 89, ../_scss/_mixin.scss */
blockquote p {
  display: inline;
}

/* line 93, ../_scss/_mixin.scss */
blockquote:before {
  content: "\201C";
  position: absolute;
  left: 5px;
  top: 20px;
  z-index: 1;
  margin-right: .25em;
  vertical-align: -.4em;
  color: #DDF;
  font-size: 3em;
  font-weight: 900;
  line-height: .1em;
}

/* line 107, ../_scss/_mixin.scss */
a {
  color: #08C;
  text-decoration: none;
}
/* line 110, ../_scss/_mixin.scss */
a:hover {
  color: #058;
  text-decoration: underline;
}

/* line 116, ../_scss/_mixin.scss */
:target {
  background-color: #FEFECB;
}

/* line 120, ../_scss/_mixin.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 124, ../_scss/_mixin.scss */
::-moz-selection {
  background-color: rgba(204, 204, 255, 0.7);
}

/* line 124, ../_scss/_mixin.scss */
::selection {
  background-color: rgba(204, 204, 255, 0.7);
}

/*
 ######  ######## ########  ##     ##  ######  ######## ##     ## ########  ########
##    ##    ##    ##     ## ##     ## ##    ##    ##    ##     ## ##     ## ##
##          ##    ##     ## ##     ## ##          ##    ##     ## ##     ## ##
 ######     ##    ########  ##     ## ##          ##    ##     ## ########  ######
      ##    ##    ##   ##   ##     ## ##          ##    ##     ## ##   ##   ##
##    ##    ##    ##    ##  ##     ## ##    ##    ##    ##     ## ##    ##  ##
 ######     ##    ##     ##  #######   ######     ##     #######  ##     ## ########
*/
/* line 10, ../_scss/_blog.scss */
body {
  max-width: 65em;
  margin: 0 auto;
}

/* line 16, ../_scss/_blog.scss */
.container {
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 2em;
  -webkit-box-shadow: 0 0 3px 1px #ccc;
  box-shadow: 0 0 3px 1px #ccc;
  position: relative;
}
/* line 24, ../_scss/_blog.scss */
.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background-color: #fff1e8;
}
/* line 34, ../_scss/_blog.scss */
.container .content {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  float: left;
  width: 75%;
}
/* line 44, ../_scss/_blog.scss */
.container img {
  max-width: 100%;
}
/* line 48, ../_scss/_blog.scss */
.container hr {
  border: 5px dashed #ccc;
}

/* line 55, ../_scss/_blog.scss */
.page-header small {
  color: #aaa;
  font-weight: 100;
}
/* line 60, ../_scss/_blog.scss */
.page-header h2 {
  font-size: 1.8em;
}

/* line 68, ../_scss/_blog.scss */
.page-content ul, .page-content ol {
  padding-left: 20px;
  padding-left: 1.25rem;
  border-left: 10px solid #fff1f0;
}
/* line 74, ../_scss/_blog.scss */
.page-content ul ul, .page-content ul ol, .page-content ol ul, .page-content ol ol {
  border-left-color: #ffeceb;
}
/* line 77, ../_scss/_blog.scss */
.page-content ul ul ul, .page-content ul ul ol, .page-content ul ol ul, .page-content ul ol ol, .page-content ol ul ul, .page-content ol ul ol, .page-content ol ol ul, .page-content ol ol ol {
  border-left-color: #ffe8e5;
}
/* line 83, ../_scss/_blog.scss */
.page-content ul {
  margin-bottom: 1em;
}
/* line 88, ../_scss/_blog.scss */
.page-content li {
  margin-bottom: .5em;
}

/* line 93, ../_scss/_blog.scss */
footer {
  text-align: center;
  font-size: small;
}

/*
##    ##    ###    ##     ##    ########     ###    ########
###   ##   ## ##   ##     ##    ##     ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##    ##     ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##    ########  ##     ## ########
##  #### #########  ##   ##     ##     ## ######### ##   ##
##   ### ##     ##   ## ##      ##     ## ##     ## ##    ##
##    ## ##     ##    ###       ########  ##     ## ##     ##
*/
/* line 114, ../_scss/_blog.scss */
.nav-bar h1, .nav__menu a {
  padding: 5px 20px;
  padding: 0.3125rem 1.25rem;
}

/* line 118, ../_scss/_blog.scss */
.nav-bar {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  text-align: center;
  text-align: left;
}
/* line 124, ../_scss/_blog.scss */
.nav-bar h1 {
  display: inline-block;
  vertical-align: middle;
}
/* line 130, ../_scss/_blog.scss */
.nav-bar h1 {
  margin: 0;
  font-size: 1.4em;
  background-color: rgba(255, 0, 0, 0.1);
}
/* line 136, ../_scss/_blog.scss */
.nav-bar h1 a {
  padding: 0 20px;
}
/* line 141, ../_scss/_blog.scss */
.nav-bar a {
  display: block;
  color: #777;
}
/* line 144, ../_scss/_blog.scss */
.nav-bar a:hover {
  text-decoration: none;
  color: #900;
}

/* line 152, ../_scss/_blog.scss */
.nav__menu li.active a, .nav__menu a:hover {
  color: #000;
  text-shadow: 1px 1px 0 rgba(255, 0, 0, 0.3);
}

/* line 156, ../_scss/_blog.scss */
.nav__menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F75E5E;
}
/* line 162, ../_scss/_blog.scss */
.nav__menu li {
  display: inline-block;
  list-style-type: none;
}
/* line 165, ../_scss/_blog.scss */
.nav__menu li.active a {
  border-bottom-color: #F75E5E;
}
/* line 171, ../_scss/_blog.scss */
.nav__menu a {
  border-bottom: 3px solid transparent;
}

/*
########     ###     ######   #### ##    ##    ###    ########  #######  ########
##     ##   ## ##   ##    ##   ##  ###   ##   ## ##      ##    ##     ## ##     ##
##     ##  ##   ##  ##         ##  ####  ##  ##   ##     ##    ##     ## ##     ##
########  ##     ## ##   ####  ##  ## ## ## ##     ##    ##    ##     ## ########
##        ######### ##    ##   ##  ##  #### #########    ##    ##     ## ##   ##
##        ##     ## ##    ##   ##  ##   ### ##     ##    ##    ##     ## ##    ##
##        ##     ##  ######   #### ##    ## ##     ##    ##     #######  ##     ##
*/
/* line 195, ../_scss/_blog.scss */
.paginator {
  padding: 10px 0;
  margin: 3em 0em;
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
  border-left: none;
}
/* line 203, ../_scss/_blog.scss */
.paginator a {
  padding: 5px 10px;
  display: block;
}
/* line 206, ../_scss/_blog.scss */
.paginator a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.1);
}
/* line 212, ../_scss/_blog.scss */
.paginator li {
  list-style-type: none;
  width: 50%;
  float: left;
}

/* line 218, ../_scss/_blog.scss */
.paginator--next {
  text-align: right;
}
/* line 220, ../_scss/_blog.scss */
.paginator--next a:after {
  content: '»';
}

/* line 225, ../_scss/_blog.scss */
.paginator--prev a:before {
  content: '«';
}

/*
 ######  #### ########  ######## ########     ###    ########
##    ##  ##  ##     ## ##       ##     ##   ## ##   ##     ##
##        ##  ##     ## ##       ##     ##  ##   ##  ##     ##
 ######   ##  ##     ## ######   ########  ##     ## ########
      ##  ##  ##     ## ##       ##     ## ######### ##   ##
##    ##  ##  ##     ## ##       ##     ## ##     ## ##    ##
 ######  #### ########  ######## ########  ##     ## ##     ##
 */
/* line 244, ../_scss/_blog.scss */
.page-sidebar {
  position: fixed;
  z-index: 1;
  top: 5%;
  right: -100%;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  -webkit-transition: right .5s;
  transition: right .5s;
  -webkit-box-shadow: 0 0 7px 3px #999;
  box-shadow: 0 0 7px 3px #999;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  position: static;
  overflow: hidden;
  padding-top: 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 257, ../_scss/_blog.scss */
.page-sidebar:hover {
  overflow: auto;
}
/* line 269, ../_scss/_blog.scss */
.page-sidebar ul {
  list-style-type: square;
  padding-left: 30px;
  padding-left: 1.875rem;
}
/* line 274, ../_scss/_blog.scss */
.page-sidebar h4 {
  background-color: #eee;
  margin-bottom: 0;
  padding-left: 5px;
  padding-left: 0.3125rem;
  border-left: 10px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 282, ../_scss/_blog.scss */
.page-sidebar > h4:first-child {
  margin-top: 0;
}

/* line 287, ../_scss/_blog.scss */
.sidebar-controler {
  display: block;
  position: fixed;
  top: 100px;
  top: 6.25rem;
  right: 0;
  z-index: 2;
  font-size: 3em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  background-color: #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: .7;
  color: #999;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: none;
}
/* line 307, ../_scss/_blog.scss */
.sidebar-controler:hover {
  color: #333;
  background-color: #cdc;
  background-color: rgba(0, 125, 0, 0.2);
}
/* line 313, ../_scss/_blog.scss */
#sidebar-ctrl:checked ~ .sidebar-controler {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 319, ../_scss/_blog.scss */
#sidebar-ctrl {
  display: none;
}
/* line 321, ../_scss/_blog.scss */
#sidebar-ctrl:checked ~ .page-sidebar {
  right: 0;
}

/* line 327, ../_scss/_blog.scss */
.search {
  position: relative;
  margin-left: 2%;
  margin-top: 1em;
  overflow: hidden;
  max-width: 95%;
  border: 1px solid #ccc;
  border-radius: 1em;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #fafafa;
}
/* line 338, ../_scss/_blog.scss */
.search:hover {
  border-color: #129fea;
  background-color: #fff;
}
/* line 343, ../_scss/_blog.scss */
.search input {
  max-width: 100%;
  padding: .5em 3em .5em 1em;
  font-size: .8em;
  border: none;
  background-color: transparent;
}
/* line 349, ../_scss/_blog.scss */
.search input:focus {
  outline: none;
}
/* line 354, ../_scss/_blog.scss */
.search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: block;
  width: 2em;
  height: 2em;
  border: none;
  background-color: #ddd;
  font-weight: 900;
}
/* line 365, ../_scss/_blog.scss */
.search button:before {
  content: 'Q';
  position: absolute;
  top: 10%;
  left: 30%;
}
/* line 371, ../_scss/_blog.scss */
.search button:hover {
  background-color: #ccc;
}

/*
 #######  ######## ##     ## ######## ########
##     ##    ##    ##     ## ##       ##     ##
##     ##    ##    ##     ## ##       ##     ##
##     ##    ##    ######### ######   ########
##     ##    ##    ##     ## ##       ##   ##
##     ##    ##    ##     ## ##       ##    ##
 #######     ##    ##     ## ######## ##     ##
*/
/* line 390, ../_scss/_blog.scss */
.comment {
  width: 90%;
  margin: 20px auto;
}

/* line 397, ../_scss/_blog.scss */
.tag_box {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

/* line 403, ../_scss/_blog.scss */
.p-tag,
.p-category {
  position: relative;
}
/* line 406, ../_scss/_blog.scss */
.p-tag:target .back-to-top,
.p-category:target .back-to-top {
  display: block;
}
/* line 410, ../_scss/_blog.scss */
.p-tag .anchor,
.p-category .anchor {
  position: relative;
  z-index: 1;
}
/* line 414, ../_scss/_blog.scss */
.p-tag .anchor:before,
.p-category .anchor:before {
  content: '⚓ ';
}
/* line 419, ../_scss/_blog.scss */
.p-tag .back-to-top,
.p-category .back-to-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 0 .5em;
}
/* line 427, ../_scss/_blog.scss */
.p-tag .back-to-top:after,
.p-category .back-to-top:after {
  content: '▲';
}

/* line 433, ../_scss/_blog.scss */
.p-archive-year {
  margin-top: 1.5em;
  margin-bottom: .5em;
  border-bottom: 3px dashed #ddd;
}

/* line 442, ../_scss/_blog.scss */
.p-archive-month {
  margin-left: 1em;
  margin-bottom: 0;
}

/* line 450, ../_scss/_blog.scss */
.p-archive-date {
  list-style-type: square;
  padding-left: 2em;
  text-indent: -2em;
}
/* line 454, ../_scss/_blog.scss */
.p-archive-date .date {
  color: #999;
}

/* line 458, ../_scss/_blog.scss */
.p-archive-posts {
  margin-top: 0;
  margin-left: 1.8em;
  padding-left: .7em;
  border-left: .5em solid #ddd;
}

/* line 467, ../_scss/_blog.scss */
.index-posts li {
  padding-left: 3.5em;
  text-indent: -3.5em;
}

/* line 472, ../_scss/_blog.scss */
.rplus-icon {
  display: block;
}
/* line 475, ../_scss/_blog.scss */
.rplus-icon img {
  width: 100%;
  margin: 1em auto;
  display: block;
}
