<div class="page-header">
  <h2>{{ page.title }} <small>Supporting tagline</small></h2>
</div>

<div class="page-body">
  <div class="page-content">
    {{ content }}
    <hr>
    <ul class="pure-paginator">
    {% if page.previous %}
      <li><a class="pure-button prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
    {% else %}
      <li><a class="pure-button prev disabled">&larr; Previous</a></li>
    {% endif %}
      <li><a class="pure-button" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
    {% if page.next %}
      <li><a class="pure-button next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
    {% else %}
      <li><a class="pure-button next disabled">Next &rarr;</a>
    {% endif %}
    </ul>
    <hr>
    {% include JB/comments %}
  </div>

  <label for="sidebar-ctrl" class="sidebar-controler">≡</label>
  <input id="sidebar-ctrl" type="checkbox">

  <aside class="page-sidebar">
    <!-- <h4>Published</h4> -->
    <!-- <time class="date" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time> -->
    <h4>
      <time class="date" datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    </h4>

    <section>
    {% unless page.categories == empty %}
      <h4>Categories</h4>
      <ul class="categories-list">
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
      </ul>
    {% endunless %}
    </section>

    <section>
    {% unless page.tags == empty %}
      <h4>Tags</h4>
      <ul class="tag-list">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}
    </section>

    <section>
      <h4>Post list</h4>
      <ul class="posts-list">
        {% for post in site.posts %}
          <li>&raquo; <a href="{{ BASE_PATH }}{{ post.url }}" title="{{ page.date | date: "%Y-%m-%d" }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h4>About R+</h4>
    </section>

  </aside>
</div>
