<header class="page-header">
  <h2> {{ page.title }}
    {% if page.tagline %}
    <small>{{ page.tagline }}</small>
    {% endif %}
  </h2>
</header>

<div class="page-body">
  <section class="content-wrap">

    <article class="page-content">
      {{ content }}
    </article>

    <ul class="paginator">
      {% if page.previous %}
      <li class="paginator--prev">
        <a class="paginator--prev__link" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" rel="prev">
          {{ page.previous.title }}
        </a>
      </li>
      {% endif %}


      {% if page.next %}
      <li class="paginator--next">
        <a class="paginator--next__link" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
          {{ page.next.title }}
          <!-- <i class="icon-chevron-sign-right"></i> -->
        </a>
      </li>
      {% endif %}
    </ul>

    <div class="comment">{% include JB/comments %}</div>

  </section>
</div>
